STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://postgres:shankar@localhost:5432/medusa
DB_NAME=medusa-v2


COGNITO_USER_POOL_ID=XXX
COGNITO_CLIENT_ID=XXX
COGNITO_REGION=us-east-1


AUTHORIZE_NET_API_LOGIN=your_api_login
AUTHORIZE_NET_TRANSACTION_KEY=your_transaction_key
AUTHORIZE_NET_ENVIRONMENT=sandbox